*{
  padding: 0;
  margin: 0;
  box-shadow: border-box;
}
@font-face {
  font-family: "websitesFontFamily";
  src: url("./fonts/Sora-SemiBold.ttf");
}
body{
  font-family: "websitesFontFamily";
}
p{
  font-size: 1.1em;
}